.adminContainer {
    display: flex;
    min-height: 100vh;
    background-color: #f1f5f9;
}

.mainContent {
    flex: 1;
    margin-inline-start: 260px;
    display: flex;
    flex-direction: column;
}

.pageBody {
    padding: 24px;
}