.progressBar {
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    height: 4px;
    background-color: #f58220;
    /* Mariot accent orange */
    transform-origin: 0%;
    z-index: 9999;
}